*{
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}
.slider{
    margin: 100px auto;
    width: 80%;
}
.slide{
	position: relative;
}
.slide__link{
	color: #fff;
	text-align: center;
}
.slide img{
	height: auto;
	width: 100%;
}
.slide__content-wrap{
	left: 50%;
	position: absolute;
	top: 50%;
}
.slide__content{
	display: block;
	opacity: 0;
	transform: translate(-50%,20%);
	transition: 0s;
}
.slide__content.on{
	opacity: 1;
	transform: translate(-50%,-50%);
	transition: .5s;
}
.slide__title{
	font-size: 48px;
}
/*slick setting*/
.slick-prev:before,
.slick-next:before{
    color: #000;
}